.login-container {
  overflow: hidden !important;
}

.main-login {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-95%, 120%);
}

.username-input,
.password-input {
  width: 450px !important;
}

.login-title {
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  margin-right: 200px;
  font-size: 34px;
  color: #3376a9;
  margin-top: 40px;
}
