.nav {
  margin-left: 256px;
  border-bottom: 1px solid #1c1c1c1a;
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.breadcrumb {
  font-size: 13px;
  display: flex;
  margin-left: 20px;
  gap: 10px;
}

.dashboard {
  display: flex;
  color: #1c1c1c66;
}

.changerBtn {
  margin-left: 22px;
}
